.container {
    width: var(--container-size);
    margin: 0 auto;
}

.active-status {
    background-color: var(--color-gray);
    color: #fff;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}